// custom variables and override bootstrap variables

$black: #000;
$yellow: #fecf0c;
$white: #fff;
$red: #d0112b;
$body-bg: #f2f2f2;
$text-color: #231f20;


$grid-gutter-width: 30px;

$container-desktop:            (960px + $grid-gutter-width);
$container-large-desktop:      (1024px + $grid-gutter-width);
$screen-md:                  1024px;
$screen-lg:                  1280px;

$font-family-sans-serif:  'bodoni', Helvetica, Arial, sans-serif ;
$nunito: 'Nunito', sans-serif;

$btn-success-color:              $white;
$btn-success-bg:                 #5fae1a;
$btn-success-border:              transparent;

$btn-default-color:               $black;
$btn-default-bg:                 $white;
$btn-default-border:              transparent;
$modal-backdrop-opacity: .8;