/* ========================================================================== */
/* Base Styles */
/* =========== */

html,
body {
    height:100%;
}

h1 {
    font-weight: 900;
    text-align: center;
    color: $red;
    margin: 0 0 21px;
    font-size: 24px;
    line-height: 27px;
    position: relative;
    text-transform: uppercase;

    @include media('>=screen-sm') {
        margin: 0 0 41px;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: -1px;
    }

    &:after {
        position: absolute;
        bottom: -11px;
        left: 50%;
        content: "";
        width: 40px;
        height: 5px;
        margin:   0 0 0 -20px;
        background: url(../images/sep-320.png) no-repeat;

        @include media('>=screen-sm') {
            bottom: -21px;
            width: 79px;
            height: 9px;
            margin:   0 0 0 -39px;
            background-image: url(../images/sep.png);
        }
    }
}


a {
    color: $muuna-gray;
    transition: all 0.3s linear;
    outline: none;

    &:hover {
        color: $muuna-green;
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none;
    }

    &.btn {
        transition:all 0.2s linear;
        outline: none;

        &:focus, &:active {
            outline: none !important;
        }
    }
}

p {
    color: $muuna-gray;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type=submit],
input[type=text],
input[type=password],
input[type=email],
input[type=file],
textarea,
input[type=search] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none;
    box-shadow: none;
}

.italic {
    font-style: italic !important;
}


/* =========================================================================== */
/* Color classes */
/* ============= */

.muuna-blueberry {
    color: $muuna-blueberry;
    border-color: $muuna-blueberry;

    &:hover,
    &:focus {
        background: $muuna-blueberry;
        color: white;
    }
}

.muuna-strawberry {
    color: $muuna-strawberry;
    border-color: $muuna-strawberry;

    &:hover,
    &:focus {
        background: $muuna-strawberry;
        color: white;
    }
}

.muuna-peach {
    color: $muuna-peach;
    border-color: $muuna-peach;

    &:hover,
    &:focus {
        background: $muuna-peach;
        color: white;
    }
}

.muuna-mango {
    color: $muuna-mango;
    border-color: $muuna-mango;

    &:hover,
    &:focus {
        background: $muuna-mango;
        color: white;
    }
}

.muuna-pineapple {
    color: $muuna-pineapple;
    border-color: $muuna-pineapple;

    &:hover,
    &:focus {
        background: $muuna-pineapple;
        color: white;
    }
}

.muuna-plain {
    color: $muuna-plain;
    border-color: $muuna-plain;

    &:hover,
    &:focus {
        background: $muuna-plain;
        color: white;
    }
}

.muuna-plain-classic {
    color: $muuna-plain-classic;
    border-color: $muuna-plain-classic;

    &:hover,
    &:focus {
        background: $muuna-plain-classic;
        color: white;
    }
}

.color-blueberry     { color: $muuna-blueberry; }
.color-strawberry    { color: $muuna-strawberry; }
.color-pineapple     { color: $muuna-pineapple; }
.color-mango         { color: $muuna-mango; }
.color-plain         { color: $muuna-plain; }
.color-plain-classic { color: $muuna-plain-classic; }
.color-peach         { color: $muuna-peach; }


/* ========================================================================== */
/* Reusable classes */
/* ================ */

/* ====== */
/* Button */
/* ====== */

.btn {
    text-transform: uppercase;
    border-radius: 20px;
    padding: 2px 0 0 0;
    display: table;
    height: 40px;
    width: 132px;
    border-style: solid;
    border-width: 1px;
    white-space: normal;
    font-size: 12px;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    overflow: hidden;

    span {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }

    @include media('>=screen-sm') {
        width: 200px;
        height: 40px;
    }
}

#muuna {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: table;
    table-layout: fixed;
}

.container {
    width: 100%;
    max-width: 1366px;
    padding: 0 32px;
    position: relative;
}

.inner-container {
    position: relative;
    width: 100%;
    height: 100%;
}
