/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   ---------------------------------------------------------*/

/* ---------------------------------------------------------
   1. Embedded fonts styles
   ---------------------------------------------------------*/
@font-face {
    font-family: 'bodoni';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/bodoni/bodoni_egyptian_pro-extra_bold-webfont.eot');
    src: url('../fonts/bodoni/bodoni_egyptian_pro-extra_bold-webfont.eot?#iefix')                     format('embedded-opentype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-extra_bold-webfont.woff2')                          format('woff2'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-extra_bold-webfont.woff')                           format('woff'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-extra_bold-webfont.ttf')                            format('truetype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-extra_bold-webfont.svg#bodoni_egyptian_proextbold') format('svg');
}
@font-face {
    font-family: 'bodoni';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/bodoni/bodoni_egyptian_pro-bold-webfont.eot');
    src: url('../fonts/bodoni/bodoni_egyptian_pro-bold-webfont.eot?#iefix')                  format('embedded-opentype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-bold-webfont.woff2')                       format('woff2'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-bold-webfont.woff')                        format('woff'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-bold-webfont.ttf')                         format('truetype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-bold-webfont.svg#bodoni_egyptian_probold') format('svg');
}
@font-face {
    font-family: 'bodoni';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/bodoni/bodoni_egyptian_pro-regular_italic-webfont.eot');
    src: url('../fonts/bodoni/bodoni_egyptian_pro-regular_italic-webfont.eot?#iefix')                        format('embedded-opentype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular_italic-webfont.woff2')                             format('woff2'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular_italic-webfont.woff')                              format('woff'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular_italic-webfont.ttf')                               format('truetype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular_italic-webfont.svg#bodoni_egyptian_proregularita') format('svg');
}
@font-face {
    font-family: 'bodoni';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/bodoni/bodoni_egyptian_pro-regular-webfont.eot');
    src: url('../fonts/bodoni/bodoni_egyptian_pro-regular-webfont.eot?#iefix')                        format('embedded-opentype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular-webfont.woff2')                             format('woff2'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular-webfont.woff')                              format('woff'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular-webfont.ttf')                               format('truetype'),  
         url('../fonts/bodoni/bodoni_egyptian_pro-regular-webfont.svg#bodoni_egyptian_pro_regularRg') format('svg');
}
@font-face {
    font-family: 'bodoni';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/bodoni/bodoni_egyptian_pro-black-webfont.eot');
    src: url('../fonts/bodoni/bodoni_egyptian_pro-black-webfont.eot?#iefix')                   format('embedded-opentype'),
         url('../fonts/bodoni/bodoni_egyptian_pro-black-webfont.woff2')                        format('woff2'),
         url('../fonts/bodoni/bodoni_egyptian_pro-black-webfont.woff')                         format('woff'),
         url('../fonts/bodoni/bodoni_egyptian_pro-black-webfont.ttf')                          format('truetype'),
         url('../fonts/bodoni/bodoni_egyptian_pro-black-webfont.svg#bodoni_egyptian_problack') format('svg');

}
@font-face {
	font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
	src: url('../fonts/icomoon/icomoon.eot?7rmy07');
	src: url('../fonts/icomoon/icomoon.eot?7rmy07#iefix')   format('embedded-opentype'),
		 url('../fonts/icomoon/icomoon.ttf?7rmy07')         format('truetype'),
		 url('../fonts/icomoon/icomoon.woff?7rmy07')        format('woff'),
		 url('../fonts/icomoon/icomoon.svg?7rmy07#icomoon') format('svg');
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/lato/lato-hairline.eot');
    src: url('../fonts/lato/lato-hairline.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/lato/lato-hairline.woff')       format('woff'), 
         url('../fonts/lato/lato-hairline.ttf')        format('truetype'),
         url('../fonts/lato/lato-hairline.otf')        format('opentype');
}

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/lato/lato-light.eot');
    src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/lato/lato-light.woff')       format('woff'), 
         url('../fonts/lato/lato-light.ttf')        format('truetype'),
         url('../fonts/lato/lato-light.otf')        format('opentype');
}

@font-face {
    font-family: 'Rockwell Std';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/rockwell/rockwell-std-italic.eot');
    src: url('../fonts/rockwell/rockwell-std-italic.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/rockwell/rockwell-std-italic.woff')       format('woff'), 
         url('../fonts/rockwell/rockwell-std-italic.ttf')        format('truetype'),
         url('../fonts/rockwell/rockwell-std-italic.otf')        format('opentype');
}

@font-face {
    font-family: 'Rockwell Std';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/rockwell/rockwell-std-light-italic.eot');
    src: url('../fonts/rockwell/rockwell-std-light-italic.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/rockwell/rockwell-std-light-italic.woff')       format('woff'), 
         url('../fonts/rockwell/rockwell-std-light-italic.ttf')        format('truetype'),
         url('../fonts/rockwell/rockwell-std-light-italic.otf')        format('opentype');
}

@font-face {
    font-family: 'Rockwell Std';
    font-weight: normal;
    src: url('../fonts/rockwell/rockwell-std.eot');
    src: url('../fonts/rockwell/rockwell-std.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/rockwell/rockwell-std.woff')       format('woff'), 
         url('../fonts/rockwell/rockwell-std.ttf')        format('truetype'),
         url('../fonts/rockwell/rockwell-std.otf')        format('opentype');
}

@font-face {
    font-family: 'Rockwell Std';
    font-weight: 100;
    src: url('../fonts/rockwell/rockwell-std-light.eot');
    src: url('../fonts/rockwell/rockwell-std-light.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/rockwell/rockwell-std-light.woff')       format('woff'), 
         url('../fonts/rockwell/rockwell-std-light.ttf')        format('truetype'),
         url('../fonts/rockwell/rockwell-std-light.otf')        format('opentype');
}

@font-face {
    font-family: 'Rockwell Std';
    font-weight: 900;
    src: url('../fonts/rockwell/rockwell-std-extra-bold.eot');
    src: url('../fonts/rockwell/rockwell-std-extra-bold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/rockwell/rockwell-std-extra-bold.woff')       format('woff'), 
         url('../fonts/rockwell/rockwell-std-extra-bold.ttf')        format('truetype'),
         url('../fonts/rockwell/rockwell-std-extra-bold.otf')        format('opentype');
}

@font-face {
    font-family: 'Museo';
    font-weight: 400;
    src: url('../fonts/museo-sans/museo-sans-300.eot');
    src: url('../fonts/museo-sans/museo-sans-300.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/museo-sans/museo-sans-300.woff')       format('woff'), 
         url('../fonts/museo-sans/museo-sans-300.ttf')        format('truetype'),
         url('../fonts/museo-sans/museo-sans-300.otf')        format('opentype');
}



[class^="icon-"], [class*=" icon-"], .info-list li:before {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_up:before {
	content: "\e900";
}
.icon-tick:before {
	content: "\e901";
}
.icon-arrow-right:before {
	content: "\e902";
}
.icon-arrow-left:before {
	content: "\e903";
}
.icon-pinterest:before {
	content: "\e904";
}
.icon-instagram:before {
	content: "\e905";
}
.icon-twitter:before {
	content: "\e906";
}
.icon-facebook:before {
	content: "\e907";
}

