// vertical align el inside parent with fixed height/min-height
// usage
// html - .parent>.child
// scss - @include v-align;
//     or @include v-align(250px);
//     or @include v-align(250px, bottom, before);
//
@mixin v-align($va-height: 100%, $va-direction: middle, $va-pseudo: after) {
    white-space: nowrap;
    text-align: center;

    &:#{$va-pseudo} {
        content: '';
        display: inline-block;
        vertical-align: $va-direction;
        width: 0;
        min-height: $va-height;
    }

    > * {
        white-space: normal;
        display: inline-block;
        vertical-align: $va-direction;
        max-width: 99%;
    }
}

// vertical align a pair of child el inside parent
// usage
// html - .post>.image+.text
// scss - @include v-align-pair(image, text);
//     or @include v-align-pair(image, text, bottom);
//     or @include v-align-pair(image, text, middle, 200px);
//
@mixin v-align-pair($child-name1, $child-name2, $valign: middle, $width1: auto, $width2: auto ) {
    display: table;

    .#{$child-name1}{
        display: table-cell;
        vertical-align: $valign;
        width: $width1;
    }

    .#{$child-name2} {
        display: table-cell;
        vertical-align: $valign;
        width: $width2;
    }
}


// vertical align el
// usage: @include vertical-align-el;
//
@mixin vertical-align-el {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/// font-smothing
/// @include font-smoothing(on);
/// @include font-smoothing(off);
@mixin font-smoothing($value:on){
    @if $value == on{
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
    }
    @else{
        -webkit-font-smoothing:subpixel-antialiased;
        -moz-osx-font-smoothing:auto;
    }
}


/// Hides the text in an element, commonly used to show an image. Some elements will need block-level styles applied.
///
/// @link http://zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
///
/// @example scss - Usage
///   .element {
///     @include hide-text;
///   }
///
/// @example css - CSS Output
///   .element {
///     overflow: hidden;
///     text-indent: 101%;
///     white-space: nowrap;
///   }
///
@mixin hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}


/// Creates a visual triangle.
/// Mixin takes ($size, $color, $direction)
/// The $size argument can take one or two values—width height.
/// The $color argument can take one or two
/// values—foreground-color background-color.
///
/// @author http://bourbon.io/docs/#triangle
///
/// $direction:
/// up, down, left, right, up-right, up-left, down-right, down-left
/// @example scss - Usage
///   @include triangle(12px, gray, down);
///   @include triangle(12px 6px, gray blue, up-left);
///
@mixin triangle($size, $color, $direction) {
    $width: nth($size, 1);
    $height: nth($size, length($size));
    $foreground-color: nth($color, 1);
    $background-color: if(length($color) == 2, nth($color, 2), transparent);
    height: 0;
    width: 0;

    @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
        $width: $width / 2;
        $height: if(length($size) > 1, $height, $height/2);

        @if $direction == up {
            border-bottom: $height solid $foreground-color;
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
        } @else if $direction == right {
            border-bottom: $width solid $background-color;
            border-left: $height solid $foreground-color;
            border-top: $width solid $background-color;
        } @else if $direction == down {
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
            border-top: $height solid $foreground-color;
        } @else if $direction == left {
            border-bottom: $width solid $background-color;
            border-right: $height solid $foreground-color;
            border-top: $width solid $background-color;
        }
    } @else if ($direction == up-right) or ($direction == up-left) {
        border-top: $height solid $foreground-color;

        @if $direction == up-right {
            border-left:  $width solid $background-color;
        } @else if $direction == up-left {
            border-right: $width solid $background-color;
        }
    } @else if ($direction == down-right) or ($direction == down-left) {
        border-bottom: $height solid $foreground-color;

        @if $direction == down-right {
            border-left:  $width solid $background-color;
        } @else if $direction == down-left {
            border-right: $width solid $background-color;
        }
    } @else if ($direction == inset-up) {
        border-color: $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $height $width;
    } @else if ($direction == inset-down) {
        border-color: $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $height $width;
    } @else if ($direction == inset-right) {
        border-color: $background-color $background-color $background-color $foreground-color;
        border-style: solid;
        border-width: $width $height;
    } @else if ($direction == inset-left) {
        border-color: $background-color $foreground-color $background-color $background-color;
        border-style: solid;
        border-width: $width $height;
    }
}


/// Animate css properties
// usage
// scss - @include animate(color);
//     or @include animate(color width);
//     or @include animate(color width, 1s, linear);
//
$animation-speed: .3s !default;

@mixin animate($properties, $duration: $animation-speed, $easing: ease-in-out) {
    $list:();

    @each $prop in $properties {
        $str: #{$prop} #{$animation-speed} #{$easing};
        $list: join($list, $str, comma);
    }

    transition: $list;
}


/// Mixin for styling form-placeholders
/// @example scss - Usage
///   @include placeholder {
///    color: #333;
///   }
///
///   input[type='text'],
///   input[type='tel'],
///   input[type='email'] {
///     @include placeholder {
///      color: red;
///     }
///   }

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &::-moz-placeholder {opacity: 1; @content}
    &:-moz-placeholder {@content}
    &:-ms-input-placeholder {@content}
    &.placeholder {@content}
}

// reset width-auto
@mixin width-auto{
    margin: 0 auto;
    max-width:$base-width;
}
// reset for positioning
@mixin positioning($element, $top, $right, $bottom, $left, $bg-color){
    position: relative;
    z-index: 1;

    &:#{$element} {
        position: absolute;
        content: "";
        top:$top;
        z-index: -1;
        bottom:$bottom;
        left:$left;
        right:$right;
        background: $bg-color;
    }
}
// reset for positioning
@mixin positioning2($element2, $top, $right, $bottom, $left){
    position: relative;

    &:#{$element2} {
        position: absolute;
        content: "";
        top:$top;
        bottom:$bottom;
        left:$left;
        right:$right;
    }
}
// Sizing shortcuts
@mixin widthsize($width, $height) {
    width: $width;
    height: $height;
}
// square mixin
@mixin square($size) {
    @include size($size, $size);
}
// vertical align style
@mixin vertical($display, $align){
    display:$display;
    vertical-align:$align;
}

// Box Sizing
@mixin boxsizing{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

// vertical alignment within the block
@mixin v-align($child-class-name, $valign: middle){
    white-space:nowrap;

    .#{$child-class-name}{
        display:inline-block;
        white-space:normal;
        vertical-align:$valign;
    }
    &:before{
        content:'';
        vertical-align:$valign;
        display:inline-block;
        min-height:inherit;
        width:1px;
        overflow:hidden;
        margin:0 0 0 -5px;
    }
}
@mixin v-align2($child-class-name, $valign: middle){
    white-space:nowrap;

    .#{$child-class-name}{
        display:inline-block;
        white-space:normal;
        vertical-align:$valign;
    }

    &:before{
        content:'';
        vertical-align:$valign;
        display:inline-block;
        height:100%;
        width:1px;
        overflow:hidden;
        margin:0 0 0 -5px;
    }
}
// arrow mixin
@mixin arrow($top, $right, $bottom, $left, $top-color, $right-color, $bottom-color, $left-color){
    width: 0;
    height: 0;
    border-style: solid;
    border-width:$top $right $bottom $left;
    border-color:$top-color $right-color $bottom-color $left-color;
}

// custom font mixin
@mixin fontface ($fontfamily, $filename, $fontweight: normal, $fontstyle: normal) {
    font-family: $fontfamily;
    src:url('fonts/#{$filename}.eot');
    src:url('fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
        url('fonts/#{$filename}.woff') format('woff'),
        url('fonts/#{$filename}.woff2') format('woff2'),
        url('fonts/#{$filename}.ttf') format('truetype'),
        url('fonts/#{$filename}.svg#{$filename}') format('svg');
    font-weight: $fontweight;
    font-style: $fontstyle;
}

@mixin rotate ($deg) {
    -moz-transform    : rotate($deg);
    -ms-transform    : rotate($deg);
    -o-transform      : rotate($deg);
    -webkit-transform : rotate($deg);
}
// from http://codepen.io/MichaelArestad/pen/IxFGj
@mixin arrow-lazy($al-direction: top, $al-size: 10px, $al-color: #ccc, $al-center: 50%, $al-margin: -1px, $al-pseudo: before){
    position: relative;
    border-color: $al-color;

    &:#{$al-pseudo} {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 0;
        border-color: $al-color;

        @if $al-direction == "right" {
            top: $al-center;
            left: 100%;
            margin-left: $al-margin;
            margin-top: $al-size * -1;
            border-top: $al-size solid transparent;
            border-bottom: $al-size solid transparent;
            border-left: $al-size solid $al-color;
            border-left-color: inherit;
        } @else if $al-direction == "down" {
            top: 100%;
            left: $al-center;
            margin-top: $al-margin;
            margin-left: $al-size * -1;
            border-left: $al-size solid transparent;
            border-right: $al-size solid transparent;
            border-top: $al-size solid $al-color;
            border-top-color: inherit;
        } @else if $al-direction == "left" {
            top: $al-center;
            right: 100%;
            margin-right: $al-margin;
            margin-top: $al-size * -1;
            border-top: $al-size solid transparent;
            border-bottom: $al-size solid transparent;
            border-right:$al-size solid $al-color;
            border-right-color: inherit;
        } @else {
            bottom: 100%;
            left: $al-center;
            margin-bottom: $al-margin;
            margin-left: $al-size * -1;
            border-left: $al-size solid transparent;
            border-right: $al-size solid transparent;
            border-bottom: $al-size solid $al-color;
            border-bottom-color: inherit;
        }
    }
}
/// Mixin helping defining both `width` and `height` simultaneously.
///
/// @author Hugo Giraudel
///
/// @access public
///
/// @param {Length} $width - Element’s `width`
/// @param {Length} $height ($width) - Element’s `height`
///
/// @example scss - Usage
///   .foo {
///     @include size(10em);
///   }
///
///   .bar {
///     @include size(100%, 10em);
///   }
///
/// @example css - CSS output
///   .foo {
///     width: 10em;
///     height: 10em;
///   }
///
///   .bar {
///     width: 100%;
///     height: 10em;
///   }
///
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

/* Custom Mixins */

@mixin align-vertically-and-horizontally {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@mixin align-vertically {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

@mixin top-clearance($clearance: 140px) {
    margin-top: -$clearance;
    padding-top: $clearance;
}

@mixin flavor-bg($color) {
    background-color: #f2f2f2;
    background-image: url('../images/new/bg-#{$color}.png');
    background-repeat: repeat-x;
    background-position: 50% bottom;
    background-size: 100% auto;
}