/* Colors */
$muuna-gray: #a3a3a3;
$muuna-gray-light: #d8d8d8;
$muuna-white: #f2f2f2;
// $muuna-green: #42852c;
// $muuna-green: #7bad3f;
$muuna-green: #5ba403;
$muuna-blue: #008aff;

$muuna-light-green: #f4f8f0;

$muuna-blueberry: #006aa6;
$muuna-strawberry: #d0112b;
$muuna-peach: #f37336;
$muuna-mango: #f9a11b;
$muuna-pineapple: #f5c300;
$muuna-plain: #7bad3f;
$muuna-plain-classic: #32add8;

$muuna-sans-serif: "Nunito", sans-serif;
