.blueberry {
    @include flavor-bg("blueberry");

    .name {
        letter-spacing: 5px;

        @include media('>=screen-md') {
            letter-spacing: 30px;
        }
    }

    .item {
        left: -153px;
        top: -9px;
        width: 198px;

        @include media('>=screen-sm') {
            left: -176px;
            top: 151px;
            width: 336px;
        }

        @include media('>=screen-md') {
            left: -236px;
            top: 61px;
            width: 396px;
        }
    }

    .item01 {
        right: -204px;
        top: -7px;
        width: 248px;

        @include media('>=screen-sm') {
            right: -284px;
            top: 73px;
            width: 402px;
        }

        @include media('>=screen-md') {
            right: -324px;
            top: 3px;
            width: 522px;
        }
    }

    .item02 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            left: 109px;
            top: 184px;
            width: 55px;
        }

        @include media('>=screen-md') {
            left: 179px;
            top: 144px;
            width: 55px;
        }
    }

    .item03 {
        left: 16px;
        top: 226px;
        width: 67px;

        @include media('>=screen-sm') {
            left: 139px;
            top: 459px;
            width: 84px;
        }

        @include media('>=screen-md') {
            left: 219px;
            top: 389px;
            width: 134px;
        }
    }

    .item04 {
        right: 71px;
        top: 18px;
        width: 64px;

        @include media('>=screen-sm') {
            right: 31px;
            top: 58px;
            width: 118px;
        }

        @include media('>=screen-md') {
            right: 111px;
            top: 58px;
            width: 128px;
        }
    }

    .item05 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            right: 127px;
            top: 235px;
            width: 59px;
        }

        @include media('>=screen-md') {
            right: 37px;
            top: 185px;
            width: 69px;
        }
    }

    .item06 {
        right: 31px;
        top: 248px;
        width: 66px;

        @include media('>=screen-sm') {
            right: 115px;
            top: 440px;
            width: 91px;
        }

        @include media('>=screen-md') {
            right: 185px;
            top: 430px;
            width: 131px;
        }
    }

    .tag {
        background-position: -116px -77px;
        @include media('>=screen-sm') {
            background-position: -234px -155px;
        }
    }

    .btn {
        border-color: #006aa6;
        color: #006aa6;

        &:hover,
        &:focus {
            background: #006aa6;
            color: white !important;
        }
    }
}
