/* slideshow mango styles */
.mango {
    @include flavor-bg("mango");

    .name {
        @include media('>=screen-md') {
            padding: 0 0 0 70px;
        }
    }

    .item {
        left: -83px;
        top: -80px;
        width: 131px;

        @include media('>=screen-sm') {
            left: -103px;
            top: 100px;
            width: 201px;
        }

        @include media('>=screen-md') {
            left: -73px;
            top: 60px;
            width: 294px;
        }
    }

    .item01 {
        right: -240px;
        top: 19px;
        width: 281px;

        @include media('>=screen-sm') {
            right: -360px;
            top: 109px;
            width: 492px;
        }

        @include media('>=screen-md') {
            right: -400px;
            top: 79px;
            width: 660px;
        }
    }
    .item02 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            left: 106px;
            top: 166px;
            width: 54px;
        }

        @include media('>=screen-md') {
            left: 176px;
            top: 136px;
            width: 64px;
        }
    }

    .item03 {
        left: -3px;
        top: 226px;
        width: 92px;

        @include media('>=screen-sm') {
            left: 107px;
            top: 436px;
            width: 143px;
        }

        @include media('>=screen-md') {
            left: 127px;
            top: 386px;
            width: 243px;
        }
    }

    .item04 {
        right: 74px;
        top: 7px;
        width: 82px;

        @include media('>=screen-sm') {
            right: 63px;
            top: 27px;
            width: 134px;
        }

        @include media('>=screen-md') {
            right: 113px;
            top: 44px;
            width: 164px;
        }
    }

    .item05 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            right: 110px;
            top: 223px;
            width: 98px;
        }

        @include media('>=screen-md') {
            right: 50px;
            top: 163px;
            width: 128px;
        }
    }

    .item06 {
        right: 18px;
        top: 225px;
        width: 79px;

        @include media('>=screen-sm') {
            right: 109px;
            top: 402px;
            width: 128px;
        }

        @include media('>=screen-md') {
            right: 159px;
            top: 362px;
            width: 198px;
        }
    }

    .tag {
        background-position: -108px -4px;

        @include media('>=screen-sm') {
            background-position: -217px -9px;
        }
    }

    .btn {
        border-color: #f9a11b;
        color: #f9a11b;

        &:hover,
        &:focus {
            background: #f9a11b;
            color: white !important;
        }
    }
}
