/* slideshow peach styles */
.peach {
    @include flavor-bg("peach");

    .name {

        @include media('>=screen-md') {
            padding:  0 0 0 70px;
        }

        @include media('<screen-md') {
            letter-spacing: 16px;
        }
    }

    .item {
        right: -274px;
        top: 20px;
        width: 322px;

        @include media('>=screen-md') {
            width: 462px;
            right: -274px;
            top: 130px;
        }
    }

    .item01 {
        left: -158px;
        top: 15px;
        width: 198px;

        @include media('>=screen-sm') {
            left: -228px;
            top: 165px;
            width: 326px;
        }

        @include media('>=screen-md') {
            width: 396px;
            left: -223px;
            top: 105px;
        }
    }

    .item02 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            left: 92px;
            top: 184px;
            width: 104px;
        }

        @include media('>=screen-md') {
            left: 162px;
            top: 134px;
            width: 104px;
        }
    }

    .item03 {
        left: 8px;
        top: 211px;
        width: 85px;

        @include media('>=screen-sm') {
            left: 102px;
            top: 424px;
            width: 120px;
        }

        @include media('>=screen-md') {
            left: 182px;
            top: 394px;
            width: 170px;
        }
    }

    .item04 {
        right: 73px;
        top: 6px;
        width: 85px;

        @include media('>=screen-sm') {
            right: 33px;
            top: 44px;
            width: 120px;
        }

        @include media('>=screen-md') {
            right: 113px;
            top: 44px;
            width: 170px;
        }
    }

    .item05 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            right: 93px;
            top: 224px;
            width: 104px;
        }

        @include media('>=screen-md') {
            right: 53px;
            top: 204px;
            width: 134px;
        }
    }

    .item06 {
        right: -7px;
        top: 227px;
        width: 112px;

        @include media('>=screen-sm') {
            right: 73px;
            top: 446px;
            width: 164px;
        }

        @include media('>=screen-md') {
            right: 133px;
            top: 366px;
            width: 224px;
        }
    }

    .tag {
        background-position: -41px -2px;

        @include media('>=screen-sm') {
            background-position: -84px -5px;
        }
    }

    .btn {
        border-color: #f37336;
        color: #f37336;

        &:hover,
        &:focus {
            background: #f37336;
            color: white !important;
        }
    }
}
