.pineapple {
    @include flavor-bg("pineapple");

    .name {
        letter-spacing: 10px;

        @include media('>=screen-md') {
            letter-spacing: 31px;
        }
    }

    .item {
        left: -136px;
        top: 26px;
        width: 175px;

        @include media('>=screen-sm') {
            left: -186px;
            top: 36px;
            width: 339px;
        }

        @include media('>=screen-md') {
            left: -214px;
            top: -4px;
            width: 429px;
        }
    }

    .item01 {
        right: -168px;
        top: 9px;
        width: 217px;

        @include media('>=screen-sm') {
            right: -232px;
            top: 119px;
            width: 345px;
        }

        @include media('>=screen-md') {
            right: -222px;
            top: 149px;
            width: 435px;
        }
    }

    .item02 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            left: 110px;
            top: 128px;
            width: 70px;
        }

        @include media('>=screen-md') {
            left: 170px;
            top: 128px;
            width: 70px;
        }
    }
    .item03 {
        left: -15px;
        top: 208px;
        width: 96px;

        @include media('>=screen-sm') {
            left: 105px;
            top: 413px;
            width: 111px;
        }
        @include media('>=screen-md') {
            left: 185px;
            top: 363px;
            width: 191px;
        }
    }

    .item04 {
        right: 73px;
        top: 12px;
        width: 81px;

        @include media('>=screen-sm') {
            right: 53px;
            top: 44px;
            width: 112px;
        }

        @include media('>=screen-md') {
            right: 113px;
            top: 44px;
            width: 162px;
        }
    }
    .item05 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            right: 90px;
            top: 233px;
            width: 86px;
        }

        @include media('>=screen-md') {
            right: 30px;
            top: 173px;
            width: 106px;
        }
    }

    .item06 {
        right: 15px;
        top: 210px;
        width: 85px;

        @include media('>=screen-sm') {
            right: 89px;
            top: 395px;
            width: 119px;
        }

        @include media('>=screen-md') {
            right: 169px;
            top: 365px;
            width: 169px;
        }
    }

    .tag {
        background-position: -173px -4px;

        @include media('>=screen-sm') {
            background-position: -347px -9px;
        }
    }

    .btn {
        border-color: #f5c300;
        color: #f5c300;

        &:hover,
        &:focus {
            background: #f5c300;
            color: white !important;
        }
    }
}
