.plain {
    @include flavor-bg("plain");

    .name {
        letter-spacing: 14px;
        padding: 0;

        @include media('>=screen-sm') {
            letter-spacing: 66px;
            padding: 0 0 0 60px;
        }
    }

    .tag {
        background-position: -47px -72px;

        @include media('>=screen-sm') {
            background-position: -95px -145px;
        }
    }

    .plain-product-copy {
        padding-left: 12px;

        &.product-name {
            font-weight: bold;
        }
    }

    /* Plain Tabs */

    #tabs-container {
        position: relative;
    }

    .tabs-menu {
        display: none;
    }

    .tab {
        width: auto;
    }

    .tab-content {
        display: none;
    }

    #plain-2-5_3oz {
        display: block;
    }

    @include media('>=screen-sm') {

        .tabs-menu {
            @include align-vertically;
            top: 55%;
            left: 0;
            display: block;
            width: 190px;
            z-index: 99;

            li {
                position: relative;
                border-bottom: 1px solid $muuna-gray-light;
                z-index: 10;

                &:first-of-type {
                    border-top: 1px solid $muuna-gray-light;
                }

                &.current {
                    box-shadow: inset 3px 0px $muuna-plain;

                    span {
                        color: $muuna-plain;
                    }

                    .plain-tab-link {

                        .reg {
                            background: url('../images/new/muuna-sizes-5.3-green.png') no-repeat;
                        }

                        .lowfat {
                            background: url('../images/new/muuna-sizes-16-green.png') no-repeat;
                        }

                        .classic {
                            background: url('../images/new/muuna-sizes-16-blue.png') no-repeat;
                        }

                        &.classic {
                            box-shadow: inset 3px 0px $muuna-plain-classic;

                            span {
                                color: $muuna-plain-classic;
                            }
                        }
                    }
                }

                a.plain-tab-link {
                    display: block;
                    // padding: 10px;
                    color: $muuna-gray;
                    text-decoration: none;
                    font-family: $muuna-sans-serif;
                    font-size: 14px;
                    transition: all 0.3s linear !important;

                    &:hover {
                        color: $muuna-plain;
                        box-shadow: inset 3px 0px $muuna-plain;

                        .reg {
                            background: url('../images/new/muuna-sizes-5.3-green.png') no-repeat;
                        }

                        .lowfat {
                            background: url('../images/new/muuna-sizes-16-green.png') no-repeat;
                        }

                        .classic {
                            background: url('../images/new/muuna-sizes-16-blue.png') no-repeat;
                        }

                        &.classic {
                            box-shadow: inset 3px 0px $muuna-plain-classic;
                            color: $muuna-plain-classic;
                        }
                    }
                }
            }
        }

        .plain-tab-content-container {
            float: left;
            position: relative;
            height: 60px;
            display: table;

            div {
                display: table-cell;
                margin: 0 auto;
                vertical-align: middle;
            }

            &.img-container {
                width: 40%;

                .bg-img {
                    height: 40px;
                    width: 40px;
                    background: url('../images/new/muuna-sizes-5.3.png') no-repeat;

                    &.lowfat {
                        background: url('../images/new/muuna-sizes-16.png') no-repeat;
                    }

                    &.classic {
                        background: url('../images/new/muuna-sizes-16.png') no-repeat;
                    }
                }
            }

            &.copy-container {
                width: 60%;

                span {
                    display: block;
                }

                .product-name {
                    font-weight: bold;
                }
            }
        }
    }
}
