.strawberry {
    @include flavor-bg("strawberry");

    .name {
        letter-spacing: -3px;

        @include media('>=screen-md') {
            letter-spacing: 6px !important;
        }
    }

    .item {
        left: -250px;
        top: 17px;
        width: 318px;

        @include media('>=screen-sm') {
            left: -290px;
            top: 137px;
            width: 411px;
        }

        @include media('>=screen-md') {
            left: -446px;
            top: -90px;
            width: 636px;
        }
    }

    .item01 {
        right: -280px;
        top: 29px;
        width: 318px;

        @include media('>=screen-sm') {
            right: -330px;
            top: 149px;
            width: 411px;
        }

        @include media('>=screen-md') {
            right:-458px;
            top: 89px;
            width: 636px;
        }
    }
    .item02 {
        display: none;

        @include media('>=screen-sm') {
            display: block;
            left: 109px;
            top: 144px;
            width: 50px;
        }
        @include media('>=screen-md') {
            left: 179px;
            top: 144px;
            width: 50px;
        }
    }

    .item03 {
        left: 29px;
        top: 239px;
        width: 39px;

        @include media('>=screen-sm') {
            left: 137px;
            top: 421px;
            width: 68px;
        }

        @include media('>=screen-md') {
            left: 247px;
            top: 401px;
            width: 78px;
        }
    }

    .item04 {
        right: 63px;
        top: 18px;
        width: 70px;

        @include media('>=screen-sm') {
            right: 11px;
            top: 58px;
            width: 130px;
        }

        @include media('>=screen-md') {
            right: 111px;
            top: 58px;
            width: 140px;
        }
    }

    .item05 {
        display: none;
        @include media('>=screen-sm') {
            display: block;
            right: 140px;
            top: 251px;
            width: 48px;
        }
        @include media('>=screen-md') {
            right: 40px;
            top: 181px;
            width: 48px;
        }
    }

    .item06 {
        right: 25px;
        top: 260px;
        width: 61px;

        @include media('>=screen-sm') {
            right: 70px;
            top: 425px;
            width: 101px;
        }
        @include media('>=screen-md') {
            right: 180px;
            top: 425px;
            width: 121px;
        }
    }

    .tag {
        background-position: -182px -72px;

        @include media('>=screen-sm') {
            background-position: -366px -145px;
        }
    }

    .btn {
        border-color: #d0112b;
        color: #d0112b;

        &:hover,
        &:focus {
            background: #d0112b;
            color: white !important;
        }
    }
}
