#about {
    @include top-clearance;

    @include media('>=screen-sm') {
        // padding-bottom: 60px;
    }
}

.about {
    background-color: $muuna-white;
    background-image: url('../images/new/about-us-background.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.about-inner {
	padding: 48px 16px 0;
}

.about-copy-container {
	padding-top: 32px;
	padding-bottom: 64px;
}

.about-img {
	margin: 0 auto 16px;
	display: block;
	width: 100%;

	&.girl {
		padding-top: 32px;
		padding-bottom: 0;
		margin-bottom: 0;
		display: none;
	}
}

.about-copy {
	font-family: "Museo";
	font-size: 18px;
	line-height: 1.5;
	padding-top: 16px;
	color: #666;
}


@include media('>=screen-sm') {
    
    .about-inner {
    	padding: 64px 32px 0;
    }

   .about-img {
		width: 80%;

		&.girl {
			padding-top: 64px;
		}
	}

	.about-copy {
		font-size: 18px;
	}
}

@include media('>=screen-md') {
    
    .about-inner {
	    float: left;
	    width: 100%;
	    position: relative;
	    left: 0;
    }

	.about-copy-container {
		float: left;
		width: 50%;
		position: relative;
		height: 100%;
		padding: 0 32px 64px;
	}

	.about-copy {
		padding: 0;
		margin-bottom: 16px;
	}
	
	.about-img-container {
		float: right;
		width: 50%;
		position: absolute;
		padding-left: 8px;
		right: 0;
		bottom: 0;
	}

	.about-img {
		width: 90%;
		
		&.girl {
			display: block;
		}
	}
}

@include media('>=screen-lg') {

	.about-copy-container {
		padding: 0 64px 64px;
	}

	.about-img {

		&.girl {
			padding-top: 0;
		}
	}

	.about-img-container {
		padding: 32px;
		padding-bottom: 0;
	}
}

@include media('>=screen-xl') {
	
	.about-img-container {
		padding: 64px;
		padding-bottom: 0;
	}
}