.contact {
    background-color: #f4f8f0;
    border-bottom: 1px solid #e1e1e1;

    * {
    	text-align: center;
    }

    .btn {
        width: 200px;
    }

    .contact-list-trigger {
        display: block;
        border: 2px solid $muuna-green;
        border-radius: 24px;
        padding: 16px 12px 8px;
        background: white;
        margin-top: 24px;
        width: 260px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        text-decoration: none;

        &.open-nav {
            overflow: visible;
        }
    }

    .contact-list-title {
        color: $muuna-green;
        font-size: 18px;
        font-family: "Rockwell Std";
        font-weight: 100;
    }

    .contact-list-icon {

        i {
            position: relative;
            top: -3px;
            left: 8px;
            color: $muuna-green;
        }
    }

    .contact-list-trigger-container {
        position: relative;
    }

    .contact-list-container {
        opacity: 0;
        transition: all 0.3s;
        position: absolute;
        z-index: 1;
        width: 200px;
        top: 35px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;

        &.open {
            opacity: 1;
            top: 53px;
            overflow: visible;
        }
    }

    .contact-list {
        background: white;
        border: 1px solid $muuna-green;
        border-radius: 4px;
    }

    .contact-list-item {
        padding: 0;

        a {
            display: block;
            height: 100%;
            width: 100%;
            font-size: 18px;
            font-family: "Museo";
            color: $muuna-green;
            padding: 10px 0 6px;

            &:hover {
                background: $muuna-green;
                color: white;
            }
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid $muuna-green;
        }
    }
}

.contact-pretitle,
.contact-title {
    font-family: "Rockwell Std";
    font-weight: 100;
}

.contact-pretitle {
    font-size: 20px;
    color: $muuna-green;
}

.contact-title {
    font-size: 48px;
    color: #151515;
}

.contact-description {
    font-family: "Museo";
    font-size: 18px;
    padding-bottom: 16px;
}

#contact {
    @include top-clearance;
}
