.find-us {
	background: $muuna-light-green;
}

#find-us {
	padding-top: 140px;
	margin-top: -140px;
}

.find-us-title-section {
	padding: 64px 0 48px;
	text-align: center;
}

.find-us-title {
	margin-bottom: 32px;
}

.find-us-currently-available {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.available-location {
	float: left;
	width: 50%;
	padding: 8px;

	img {
		width: 100%;
	}
}

.find-us-coming-soon {
	background: white;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}

.coming-soon-msg {
	color: $muuna-green;
	text-align: center;
	font-size: 20px;
	font-family: "Rockwell Std";
	font-weight: 100;
	padding: 40px 0 12px;
	margin: 0;
	// border-bottom: 1px solid #e1e1e1;
}

.muuna-store {
	float: left;
	width: 33.333333333333%;
	padding: 8px;
	margin: 0;

	// &:not(:last-of-type) {
	// 	border-right: 1px solid #e1e1e1;
	// }

	// &:nth-of-type(-n+9) {
	// 	border-bottom: 1px solid #e1e1e1;
	// }

	// &:nth-of-type(9) {
	// 	border-right: 0;
	// }

	img {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {

	.muuna-store {
		width: 16.66666666666667%;
	}
}

@media only screen and (min-width: 1024px) {

	.muuna-store {
		width: 11.11111111111%;
	}
}