#footer {
    overflow: hidden;
    display: block;
    height: auto;
    background-color: $muuna-white;
    background-image: url('../images/new/muuna-background-repeat-vertical.png');
    background-repeat: repeat;
    background-position: left top;
}

.footer-logo {
	display: block;
	margin: 0 auto 24px;
    width: 260px;
}

.footer-nav {
	margin: 16px 0 0;
    text-align: center;

    a {
        color: #333;
        font-weight: 100;
        transition: color 0.3s;

        &:hover {
            color: $muuna-green;
        }
    }

    li {
        display: inline-block;
        margin: 0 6px;
    }
}

.muuna-footer-links {
    list-style: none;
    margin: 0;
    padding: 16px 0 0;
    display: none;

    li {
        display: inline-block;
        margin: 0 24px;

        a {
            color: $muuna-gray;
            transition: all 0.3s;
            font-size: 20px;
            height: 100%;
            display: table;
            cursor: pointer;

            &:hover {
                color: $muuna-green;
                text-decoration: none;
            }

            span {
                display: table-cell;
                vertical-align: middle;
                font-family: "Rockwell Std";
                font-weight: 100;
            }
        }
    }

    @include media('>=screen-md') {
        display: block;
    }
}

.footer-follow-us {
	display: none;
}

.footer-social-nav {

    i {
        font-size: 20px;
    }
}


.footer-copy-container {
    text-align: center;

    p, a, span, .copyright {
        font-family: $muuna-sans-serif;
        font-size: 14px;
        text-decoration: none;
        font-weight: 100;
    }

    @include media('>=screen-md') {
        margin-top: 16px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
}

.muuna-copyright {
    padding-top: 16px;
}

.footer-btn-container {
    margin: 0 auto;
    padding-top: 16px;

    a {
        display: block;
        margin: 0 auto;
        height: 50px;
        text-align: center;
        position: relative;

        span {
            @include align-vertically-and-horizontally;
            width: 90%;
        }

        &.contact-btn {
            width: calc(100% - 74px);

            span {
                font-size: 14px;
            }

            @include media('>=screen-md') {
                display: none;
            }
        }
    }
}

.back-to-top-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;

    i {
        color: #151515;
    }

    &.btn-desktop {
        display: none;
    }

    span {
        @include align-vertically-and-horizontally;
        width: 90%;
    }
}

@include media('>=screen-md') {

    .footer-follow-us,
    .footer-social-nav {
        float: left;
    }

    .footer-follow-us {
        display: block;
        padding: 2px 0 0;
        color: #333;
    }

    .footer-nav {
        margin: 0;
    }

    .secondary-nav {
        float: right;
        padding: 2px 0 0;
        margin-right: 12px;
    }

    .muuna-copyright {
        padding: 2px 0 0;
    }

    .back-to-top-btn {

        &.btn-mobile {
            display: none;
        }

        &.btn-desktop {
            display: block;
            height: 35px;
            width: 35px;
            float: right;
            position: relative;
            top: -8px;

            i {
                color: white;
            }
        }
    }
}
