#footer-callouts {
    background: white;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;

    .section-title {
        text-transform: uppercase;
        font-size: 20px;
    }

    .section-content {
        font-size: 15px;
        margin: 24px 0;

        @include media('>=screen-md') {
            margin: 12px 0 0;
        }
    }
}

.footer-callout {
    padding: 32px 16px 48px;
}