/* HEADER */
/* ====== */

#header {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 63px;
    padding: 11px 0 11px 3px;
    background: url(../images/bg-header-320.png) repeat-x 50% 0;

    @include media('>=screen-sm') {
        padding: 18px 0 18px 3px;
        height: 126px;
        background: url(../images/new/bg-header2.png) no-repeat;
        background-size: 100% 100%;
    }
}

.main-navigation,
#header-social-icons,
#muuna-hashtag {
    display: none;
}

.logo {
    margin: 0 auto;
    width: 112px;

    @include media('>=screen-sm') {
        width: 180px;
        }
        img {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) {

    #header {
        padding: 0;
    }

    .header-container {
        height: 80px;
        position: relative;
    }

    .logo {
        @include align-vertically-and-horizontally;
    }
}

@include media('>=screen-md') {

    .header-container {
        height: 85px;
    }

    .muuna-links {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;

        li {
            display: inline-block;
            height: 100%;

            a {
                color: $muuna-gray;
                transition: all 0.3s;
                font-size: 20px;
                height: 100%;
                display: table;
                cursor: pointer;
                font-family: "Rockwell Std";
                font-weight: 100;
                text-decoration: none;

                &:hover {
                    color: $muuna-green;
                    text-decoration: none;
                }

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        &.nav-tabs {

            a:hover,
            li.active {
                // -moz-box-shadow: inset 0 4px $muuna-green;
                // box-shadow: inset 0 4px $muuna-green;

                a {
                    color: $muuna-green;
                }
                
            }
        }

        &.social {
            padding-top: 4px;

            a {
                color: #151515;
            }
        }
    }

    .main-navigation,
    #header-social-icons,
    #muuna-hashtag {
        display: block;
        height: 100%;
    }

    .main-navigation {
        @include align-vertically-and-horizontally;

        li {
            margin: 0 16px;
        }
    }

    #muuna-hashtag {
        @include align-vertically;
        right: 160px;
        display: table;

        span {
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
            color: #151515;
            font-family: "Rockwell Std";
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    #header-social-icons {
        @include align-vertically;
        right: 0;

        li {
            margin: 0 4px;
        }
    }

    .logo {
        @include align-vertically;
        left: 0;
    }
}
