.legal-wrapper {

	ol { 
		counter-reset: item;
		padding-left: 0;

		li { 
			display: block;

			.legal-title {
				padding-left: 12px;
			}

			&:before {
				content: counters(item, ".") "."; 
				counter-increment: item;
				color: #151515;
			}

			ol {
				padding-left: 24px;
			}
		}
	}
	
	.modal-dialog {
		width: 90%;
		max-width: 1280px;
		margin: 0 auto;
	}

	.modal-content {
		padding: 32px;
	}

	.modal-header,
	.modal-body {
		padding: 0;
	}

	.legal-header {
		padding: 32px 0;
		
		.legal-pretitle {
			font-size: 18px;
			color: $muuna-green;
			font-family: "Rockwell Std";
			margin-top: 0;
			font-weight: 100;
		}

		.legal-title {
			font-size: 42px;
			color: #151515;
			font-family: "Rockwell Std";
			font-weight: 100;
			margin: 42px 0 32px;
		}

		.legal-description {
			font-family: "Museo";
			font-size: 16px;
			text-transform: uppercase;

			.quoted {
				color: #151515;
			}

			&:not(:last-of-type) {
				margin-bottom: 16px;
			}

			&.outro {
				text-transform: none;
			}

			&.darker {
				color: #666;
				margin-bottom: 0;
			}
		}
	}
}

.legal-inner-wrapper {
	padding: 32px 0;
}

section.legal {
	border-bottom: 1px solid #e5e5e5;
	padding: 32px 0;

	.legal-title {
		margin-top: 0;
		font-family: "Museo";
		font-weight: 900;
		color: #151515;
	}

	.legal-description {
		font-size: 16px;
		font-family: "Museo";
		margin-bottom: 0;
		color: #999;

		&.darker {
			color: #000;
			font-weight: bold;
		}

		&.italic {
	    	font-style: italic !important;
		}


		&:not(:last-of-type) {
			margin-bottom: 16px;
		}
	}

	.legal-link {
		text-decoration: underline;
		color: $muuna-blue;
	}

	.legal-list {
		list-style: initial;
		padding-left: 24px;

		li {
			margin-bottom: 16px;
		}
	}

	.last-updated {
		margin-top: 8px;
	}
}


.terms {

	section.legal {

		.legal-title {
			font-family: "Rockwell Std";
			font-weight: 100;
			color: #151515;
		}
	}
}


@include media('>=screen-sm') {

	.legal-wrapper {
		
		.modal-dialog {
			width: 90%;
		}

		.modal-content {
			padding: 64px;
		}

		.modal-header,
		.modal-body {
			padding: 64px 0;
		}

		.modal-body {
			padding-top: 0; 
		}

		.legal-header {

			.legal-pretitle {
				font-size: 20px;
			}

			.legal-description {
				margin-bottom: 0;
				font-size: 18px;
			}
		}
	}

	section.legal {
		padding: 64px 0;

		.legal-description {
			font-size: 18px;
		}

		.last-updated {
			margin-top: 64px;
		}
	}
}

@include media('>=screen-md') {

	.legal-wrapper {

		.modal-content {
			padding: 128px;
		}
	}
}