.modal {
    top: 125px;

    .close {
        border: 0;
        background: white;
        right: 18px;
        top: 8px;
        position: absolute;
        font-size: 30px;
        color: $muuna-gray;
        transition: all 0.3s;

        &:hover {
            color: $muuna-green;
        }
    }
}
