.oh-my-goodness {
    background: url("../images/new/green-wave.jpg");
    background-size: cover;
    background-position: center -40px;
    padding: 64px 32px;
    border-bottom: 1px solid #e1e1e1;
    background-repeat: no-repeat;
    background-color: white;
}

.oh-my-img-title {
	width: 100%;
	display: block;
	margin: 0 auto;
	max-width: 480px;
}

.oh-my-description {
	text-align: center;
	color: white;
	font-family: "Museo";
	font-size: 18px;
	margin: 0 auto 32px;
	max-width: 380px;
}

.oh-my-callouts {
	clear: both;
}

.oh-my-callout {
	width: 100%;
	padding: 16px 0;

	.callout-img {
		width: 100%;
	}
}

.oh-my-closing {
	text-align: center;
	font-family: "Museo";
	font-size: 16px;
	padding-top: 16px;
	clear: both;
}

.oh-my-closing-link {
	color: $muuna-blue;	
	text-decoration: underline;
}

@media only screen and (min-width: 768px) {

	.oh-my-callout {
		float: left;
		width: 33.333333333333%;
	}

	.oh-my-description {
		font-size: 20px;
	}

	.oh-my-closing {
		font-size: 18px;
	}
}

@media only screen and (min-width: 1920px) {

	.oh-my-closing {
		padding-top: 128px;
	}
}