/* product slideshow styles */
.product-slideshow {
    width: 100%;
    position: relative;
    z-index: 99;

    @include media('>=screen-sm') {
        height: 840px;
    }

    .slideset {
        position: relative;
        width: 100%;

        @include media('<screen-sm') {
            height: auto !important;
        }
    }

    .slide {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;

        @include media('>=screen-sm') {
            padding-top: 0;
            height: 90%;
        }

        @include media('<screen-sm') {
            position: relative !important;
            opacity: 1 !important;
        }

        &.active {
            z-index: 5;
        }
    }

    /* slideshow buttons styles */
    .btn-prev,
    .btn-next {
        position: absolute;
        left: -7px;
        top: 50%;
        text-align: center;
        background: #ececec;
        color: #fefefe;
        width: 29px;
        height: 29px;
        line-height: 21px;
        padding: 3px;
        font-size: 15px;
        border-radius: 50%;
        text-decoration: none;
        z-index: 9;
        margin:  -16px 0 0;

        &:hover {
            background: $black;
        }

        &.disabled {
            pointer-events: none;
        }
    }

    .btn-next {
        left: auto;
        right: -7px;
    }
}

.control-holder {
    margin: -75px auto;
    max-width: 680px;
    background:$white;
    border-radius: 14px;
    position: relative;
    min-height: 148px;
    display: none;
    z-index: 100;
    box-shadow: 0px 4px 100px rgba(51, 51, 51, 0.3);

    @include media('>=screen-sm') {
        display: block;
    }

    @include media('>=screen-md') {
        max-width: 924px;
    }

    &:after,
    &:before {
        position: absolute;
        content: "";
        width: 23px;
        height: 127px;
        left: -22px;
        top: 50%;
        margin: -63px 0 0;
        background: url(../images/sprite.png) no-repeat 0 -5px;
    }

    &:before {
        left: auto;
        right: -22px;
        background-position: -42px 0;
    }
}

/* slideshow pagination styles */
.pagination {
    @extend %listreset;
    text-align: center;
    letter-spacing: -.32em;
    padding: 20px 9px 17px 0;

    li {
        @include vertical(inline-block, middle);
        letter-spacing: normal;
        margin: 0 4px;
        position: relative;

        @include media('>=screen-md') {
            margin: 0 21px 0 29px;
        }

        &:after {
            position: absolute;
            content: "";
            left: 50%;
            bottom: -44px;
            margin: 0 0 0 -110px;
            width: 233px;
            height: 136px;
            background:url(../images/shadow.png) no-repeat;
        }

        img {
            position: relative;
            z-index: 99;
            width: 92px;
            display: block;
            height: auto;
        }

        &.active {
            img {
                width: 113px;
            }
        }
    }

    a {
        display: block;
    }
}

/* slideshow content styles */
.slide-content {
    min-height: 350px;
    position: relative;

    @include media('>=screen-sm') {
        min-height: 695px;
        margin-top: 25px;
    }

    .name {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1400px;
        text-align: center;
        font-size: 64px;
        line-height: 70px;
        color: white;
        font-weight: 800;
        margin: -32px 0 0 -700px;
        padding: 0;
        letter-spacing: 40px;

        @include media('>=screen-sm') {
            //   margin: -91px 0 0 -700px;
            font-size: 96px;
            line-height: 112px;
            letter-spacing: 79px;
        }

        @include media('>=screen-md') {
            font-size: 112px;
        }
    }

    .share-plugin {
        position: absolute;
        z-index: 110;
        left: 15px;
        top: 10px;
        display: none;

        @include media('>=screen-sm') {
            display: block;
        }

        @include media('>=large') {
            left: -104px;
            top: -20px;
        }

        img {
            display: block;
            z-index: 9;
        }
    }

    .product-info {
        color: #89888d;
        position: absolute;
        left: 21px;
        text-align: center;
        top: 20px;
        padding:  0 4px;
        z-index: 105;

        @include media('>=screen-sm') {
            left: 15px;
            top: 76px;
        }

        strong {
            display: block;
            border-bottom: 1px solid #b5b4b7;
            font-weight: 700;
            font-size: 7px;
            line-height: 8px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding:  0 3px 2px;

            @include media('>=screen-sm') {
                border-width: 2px;
                font-size: 14px;
                line-height: 16px;
                padding:  0 3px 4px;
            }
            >span {
                margin:  0 0 -3px;
                font-size: 20px;
                line-height: 20px;
                display: block;
                font-weight: 700;

                @include media('>=screen-sm') {
                    margin:  0 0 -7px;
                    font-size: 40px;
                    line-height: 40px;
                }
                span {
                    font-size: 15px;
                    @include media('>=screen-sm') {
                        font-size: 30px;
                    }
                }
            }
        }

        em {
            font-size: 7px;
            line-height: 8px;
            display: block;

            @include media('>=screen-sm') {
                font-size: 15px;
                line-height: 16px;
            }
        }
    }
}

.item-holder {
    position: absolute;
    z-index: 5;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* slideshow cup holder styles */
.cup-holder {
    max-width: 177px;
    margin: 83px auto 0;
    position: relative;
    text-align: center;
    left: -2px;
    z-index: 50;

    @include media('>=screen-sm') {
        left: 2px;
        margin: 130px auto 0;
        max-width: 354px;
        margin: 130px auto 0;
    }

    .img-holder {
        position: relative;
        margin:  0 0 16px;

        @include media('>=screen-sm') {
            margin:  0 0 37px;
        }

        &:after {
            position: absolute;
            left: -62px;
            bottom: -65px;
            content: "";
            width: 218px;
            height: 221px;
            background: url(../images/shadow01.png) no-repeat;
            background-size: 218px auto;

            @include media('>=screen-sm') {
                left: -123px;
                bottom: -130px;
                width: 436px;
                height: 442px;
                background-size: 436px 442px;
            }
        }
        img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: auto;
        }
    }

    .tag {
        background-image: url(../images/sprite-320.png);
        background-position: -47px -72px;
        width: 61px;
        height: 61px;
        position: absolute;
        right: -20px;
        top: -13px;
        overflow: hidden;
        border-radius: 100%;
        z-index: 9;
        color: $white;
        font-size: 8px;
        padding:  9px 0 0;

        @include media('>=screen-sm') {
            font-size: 16px;
            padding:  19px 0 0;
            right: -40px;
            top: -22px;
            width: 122px;
            height: 122px;
            background-image: url(../images/sprite.png);
        }

        strong {
            display: block;
            margin:  0 0 -4px;
            font: 26px/29px $nunito;

            @include media('>=screen-sm') {
                margin:  0 0 -13px;
                font-size: 53px;
                line-height: 58px;
            }

            span {
                font-size: 15px;
                display: inline;
                text-transform: none;

                @include media('>=screen-sm') {
                    font-size: 30px;
                }
            }
        }
        span {
            letter-spacing: 1px;
            font-weight: normal;
            text-transform: uppercase;
            display: block;
            font-weight: 700;

            @include media('>=screen-sm') {
                letter-spacing: 2px;
            }
        }
    }
}


#products {
    @include top-clearance;

    .list {
        height: auto !important;

        @include media('>=screen-sm') {
            height: 765px !important;
        }
    }

    .slide-content {
        min-height: 380px;
    }
}
