/* ========================================================================== */
/* Flavors */
/* ======= */

@import 'flavors/peach';
@import 'flavors/mango';
@import 'flavors/pineapple';
@import 'flavors/strawberry';
@import 'flavors/blueberry';
@import 'flavors/plain';




/* ========================================================================== */
/* Product */
/* ======= */

.muuna-product {

    .name {
        text-transform: uppercase;
        z-index: 5;
    }
}

.nutrition-facts-img {
    width: 100%;
}

.nutrition-facts-label {
    font-weight: bold;
    padding-left: 18px;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 8px;
}
