/* ======= */
/* Section */
/* ======= */

.muuna-section {
    position: relative;
    padding: 64px 0;

    .section-img-title {
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        display: block;
    }

    .section-img {
        display: block;
        margin: 0 auto;
    }

    .section-title,
    .section-content {
        text-align: center;
    }

    .section-title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 8px;
    }

    .section-content {

        p {
            font-size: 16px;
            margin: 24px 0;

            @include media('>=screen-sm') {
                font-size: 20px;
            }

            @include media('>=screen-md') {
                font-size: 24px;
            }
        }
    }
}
