.visual {
    margin: 0;
    height: 100vh;
    // background-image: url('../images/new/mobile-feature-callouts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    position: relative;

    @include media('>=screen-md') {
        // background-image: url('../images/new/feature-pineapple-image-callouts.jpg');
        background-size: cover;
        background-position: 100% 100%;
    }

    .social-icons {
        @include align-vertically;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 160px;
        width: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 3;

        li {
            height: 40px;
            width: 100%;
            background: white;
            border-bottom: 1px solid #f0f0f0;
            overflow: hidden;

            &:nth-of-type(1) {
                border-top-right-radius: 5px;
            }

            &:last-of-type {
                border-bottom-right-radius: 5px;
                border-bottom: none;
            }

            a {
                display: block;
                height: 100%;
                width: 100%;
                cursor: pointer;
                font-size: 16px;
                color: #151515;

                &:hover {
                    background: $muuna-green;
                    color: white;
                }

                span {
                    display: table;
                    height: 100%;
                    width: 100%;

                    i {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }
        }
    }

    @include media('>=screen-sm') {
        height: calc(100vh);
    }
}

.visual-img {
    width: 100%;
    height: auto;
}


/* ========================================================================== */
/* Hero Image Slider */
/* ================= */

.muuna-carousel {
    height: 100%;
    width: 100%;

    .carousel-inner {
        height: 100%;

        .item {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .carousel-caption {
                @include align-vertically-and-horizontally;
                bottom: auto;
                right: auto;
                padding: 0;
                width: 75%;
                top: 60%;
            }
        }
    }

    .carousel-pretitle {
        font-family: "Museo";
        font-size: 16px;
        text-shadow: none;
    }

    .carousel-title {
        // text-transform: uppercase;
        font-family: "Rockwell Std";
        font-weight: 900;
        font-size: 26px;
        margin: 0;
        letter-spacing: 1px;
        line-height: 1;
        text-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
    }

    .carousel-control {
        
        &.right, 
        &.left {
            background-image: none;
        }

        .fa {
            @include align-vertically;
            font-size: 64px;
            text-shadow: none;
        }
    }

    .carousel-indicators {
        bottom: 0;
        z-index: 100;

        li {
            margin: 0 5px;

            &.active {
                margin: 0 5px;
                width: 10px;
                height: 10px;
            }
        }
    }

    &.carousel-fade {

        .carousel-inner {
            .item {
                transition-property: opacity;
            }
            
            .item,
            .active.left,
            .active.right {
                opacity: 0;
            }

            .active,
            .next.left,
            .prev.right {
                opacity: 1;
            }

            .next,
            .prev,
            .active.left,
            .active.right {
                left: 0;
                transform: translate3d(0, 0, 0);
            }
        }

        .carousel-control {
            z-index: 2;
        }        
    }
}

.muuna-trademark {
    font-size: 16px;
}

@include media('>=screen-sm') {
    
    .muuna-carousel {

        .carousel-pretitle {
            font-size: 20px;
        }

        .carousel-title {
            font-size: 48px;
        }

        .carousel-indicators {
            bottom: 75px;
        }
    }
}

@include media('>=screen-md') {
    
    .muuna-carousel {

        .carousel-pretitle {
            font-size: 20px;
            margin: 24px 0;
        }

        .carousel-title {
            font-size: 72px;
        }
    }
}

// @include media('>=screen-lg') {
    
//     .muuna-carousel {

//         .carousel-pretitle {
//             font-size: 24px;
//         }

//         .carousel-title {
//             font-size: 84px;
//         }
//     }
// }